*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: Arial, sans-serif;
    max-width: 1024px;
}
body {
    height: 100vh;
    width: 100vw;
    display: grid;
    align-content: space-between;
    grid-template-rows: auto 10fr auto;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration:underline;
    cursor: pointer;
}


header {
    width: 100%;
    height: 60px;
    font-size: 1.3rem;
}

header nav {
    display: flex;
    justify-content: flex-end;
    padding: 6px;
}

header nav .nav_right_section {
    height: 48px;
    display: flex;
    list-style: none;
    align-items: center;
}

.nav_right_section li {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}
ul .g-mail {
    margin-right: 4px;
}
.nav_right_section a {
    color: #000000;
    line-height: 24px;
}

ul .menu_icon {
    margin-right: 2px;
    margin-left: 8px;
    width: 36px;
    height: 36px;
}

.menu_icon a, .user-icon img{
    display: flex;
}
.menu_icon:hover {
    background-color: rgba(60,64,67,.08);
    border-radius: 50%;
}

.menu_icon img {
    height: 23px;
    filter: contrast(0.2);
}
.nav_right_section img {
    border-radius: 50%;
    width: auto;
}

main {
    width: 100%;
    margin-bottom: auto;
    margin-top: 58px;
    display: grid;
    align-content: center;
    justify-content: center;
}

.main_logo {
    margin: 11.5px auto 24px;
}

.main_logo img {
    height: 92px;
    width: 272px;
}

.main_input {
    margin-bottom: 29px;
    margin:  0 auto 29px;
    max-width: 584px;
}

.main_input_container {
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;

}

.main_input input {
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
}

.main_input_container:hover {
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}

.search_icon img{
    height: 16px;
    margin: 0 14px;
}
.image-search img{
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin: 0 16px 0 16px;
}
.micro_icon img {
    height: 20px;
    cursor: pointer;
}

.main_bottons {
    margin: 0 auto;
}

.main_bottons div {
    display: inline-block;
}

.main_bottons button {
    height: 36px;
    background-color: #f8f9fa;
    border: none;
    font-size: 14px;
    color: #3c4043;
    border-radius: 5px;
    padding: 0 15px;
    margin-right: 15px;
}

.main_bottons button:hover {
    border: 1px solid #dadce0;
    color: #202124;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    cursor: pointer;
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding:0;
    margin: 0;
    align-items: center;
    height: 189px;
}

footer .contain-country {
    background-color: #f2f2f2;
    width: 100%;
    height: 24.7%;
    /* ESTE PADDING ESTABA EN EL PÁRRAFO */
    padding: 15px 30px; 
    color: #70757a;
    font-size: 1.5rem;
}

footer .contain-ul {
    width: 100%;
    height: 75.3%;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 1.4rem;
    background-color: #f2f2f2;
    border-top: 1px solid #dadce0;
}

footer ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 0;
}

footer ul li {
        padding: 15px;
}
.footer_left {
    justify-self: left;
}

.footer_right {
    justify-self: right;
}

footer .contain-ul li a {
    color: #70757a;
}


@media screen and (min-width:540px) {
    body {
        overflow: hidden;
    }
    footer {
        height: 142px;
}

footer .contain-country {
    height: 34%;
}

footer .contain-ul {
    height: 66%;
}

}

@media screen and (min-width:855px) {
    body {
        overflow: hidden;
    }
    footer {
        height: 95.4px;
    }
    footer .contain-country {
        height: 51%;
    }
    
    footer .contain-ul {
        height: 49%;
    }
}

@media screen and (min-width:1200px) {
    footer .contain-ul {
        justify-content: space-between;
    }
}